.nav{
    background-color: orange;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav a{
    text-decoration: none;
}

:global(.test){
    background-color: aqua;
}